body {
  background-color: #4b527e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #265073;
}

form {
  margin-top: 40px;
  background-color: #ecf4d6;
  width: 300px;
  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  border-radius: 20px;
  box-shadow: 2px 2px 3px #ecf4d6;
}

input {
  width: 90%;
  display: block;
  padding: 10px;
  outline: none;
  border: 1px solid #0000;
}

textarea {
  outline: none;
  border: none;
  display: block;
  width: 95%;
  resize: none;
}

button {
  background-color: #4b527e;
  padding: 10px;
  width: 80px;
  color: #ffff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in;
}

button:hover {
  border: 1px solid #4b527e;
  background-color: #ecf4d6;
  color: #4b527e;
}

.go-home-link {
  text-decoration: none;
  color: #ecf4d6;
  transition: border-bottom 150ms ease;
}

.go-home-link:hover {
  border-bottom: 1px solid #ecf4d6;
}

.go-home-link::before {
  content: '<-  ';
}
