/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #4b527e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 950px;
  margin: 0 auto;
}

/* GALLERY */
.gallery {
  padding: 2px 0 2px 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
  list-style: none;
}

.gallery li {
  text-decoration: none;
  width: 31%;
}

.gallery img {
  display: block;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ffe5e5;
  box-shadow: 3px 3px 5px #d2e3c8;
}

/* FORM */
form {
  margin-top: 40px;
  background-color: #ecf4d6;
  width: 300px;
  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  border-radius: 20px;
  box-shadow: 2px 2px 3px #ecf4d6;
}

input {
  width: 90%;
  display: block;
  padding: 10px;
  outline: none;
  border: 1px solid #0000;
}

textarea {
  outline: none;
  border: none;
  display: block;
  width: 95%;
  resize: none;
}

button {
  background-color: #4b527e;
  padding: 10px;
  width: 80px;
  color: #ffff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in;
}

button:hover {
  border: 1px solid #4b527e;
  background-color: #ecf4d6;
  color: #4b527e;
}
